In [2]:
#import pandas
import pandas as pd
import numpy as np

In [8]:

heart = pd.read_csv("/content/Heart_Disease_and_Hospitals.csv")
drugs = pd.read_csv("/content/drugs.csv")


# create missing values in drugs dataset
drugs["Totals.Alcohol.Use Disorder Past Year.12-17"] = np.where(np.random.rand(len(drugs)) < 0.01, np.nan, drugs['Totals.Alcohol.Use Disorder Past Year.12-17'])
drugs["Totals.Tobacco.Cigarette Past Month.18-25"] = np.where(np.random.rand(len(drugs)) < 0.01, np.nan, drugs['Totals.Tobacco.Cigarette Past Month.18-25'])
drugs["Totals.Illicit Drugs.Cocaine Used Past Year.26+"] = np.where(np.random.rand(len(drugs)) < 0.01, np.nan, drugs['Totals.Illicit Drugs.Cocaine Used Past Year.26+'])
drugs["Totals.Marijuana.Used Past Year.12-17"] = np.where(np.random.rand(len(drugs)) < 0.01, np.nan, drugs['Totals.Marijuana.Used Past Year.12-17'])

drugs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 867 entries, 0 to 866
Data columns (total 53 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   State                                              867 non-null    object
 1   Year                                               867 non-null    int64
 2   Population.12-17                                   867 non-null    int64
 3   Population.18-25                                   867 non-null    int64
 4   Population.26+                                     867 non-null    int64
 5   Totals.Alcohol.Use Disorder Past Year.12-17        859 non-null    float64
 6   Totals.Alcohol.Use Disorder Past Year.18-25        867 non-null    int64
 7   Totals.Alcohol.Use Disorder Past Year.26+          867 non-null    int64
 8   Rates.Alcohol.Use Disorder Past Year.12-17         867 non-null    float64
 9   Rates.Alcohol.Use Disorder Past Year.18-25         867 non-null    float64
 10  Rates.Alcohol.Use Disorder Past Year.26+           867 non-null    float64
 11  Totals.Alcohol.Use Past Month.12-17                867 non-null    int64
 12  Totals.Alcohol.Use Past Month.18-25                867 non-null    int64
 13  Totals.Alcohol.Use Past Month.26+                  867 non-null    int64
 14  Rates.Alcohol.Use Past Month.12-17                 867 non-null    float64
 15  Rates.Alcohol.Use Past Month.18-25                 867 non-null    float64
 16  Rates.Alcohol.Use Past Month.26+                   867 non-null    float64
 17  Totals.Tobacco.Cigarette Past Month.12-17          867 non-null    int64
 18  Totals.Tobacco.Cigarette Past Month.18-25          863 non-null    float64
 19  Totals.Tobacco.Cigarette Past Month.26+            867 non-null    int64
 20  Rates.Tobacco.Cigarette Past Month.12-17           867 non-null    float64
 21  Rates.Tobacco.Cigarette Past Month.18-25           867 non-null    float64
 22  Rates.Tobacco.Cigarette Past Month.26+             867 non-null    float64
 23  Totals.Illicit Drugs.Cocaine Used Past Year.12-17  867 non-null    int64
 24  Totals.Illicit Drugs.Cocaine Used Past Year.18-25  867 non-null    int64
 25  Totals.Illicit Drugs.Cocaine Used Past Year.26+    857 non-null    float64
 26  Rates.Illicit Drugs.Cocaine Used Past Year.12-17   867 non-null    float64
 27  Rates.Illicit Drugs.Cocaine Used Past Year.18-25   867 non-null    float64
 28  Rates.Illicit Drugs.Cocaine Used Past Year.26+     867 non-null    float64
 29  Totals.Marijuana.New Users.12-17                   867 non-null    int64
 30  Totals.Marijuana.New Users.18-25                   867 non-null    int64
 31  Totals.Marijuana.New Users.26+                     867 non-null    int64
 32  Rates.Marijuana.New Users.12-17                    867 non-null    float64
 33  Rates.Marijuana.New Users.18-25                    867 non-null    float64
 34  Rates.Marijuana.New Users.26+                      867 non-null    float64
 35  Totals.Marijuana.Used Past Month.12-17             867 non-null    int64
 36  Totals.Marijuana.Used Past Month.18-25             867 non-null    int64
 37  Totals.Marijuana.Used Past Month.26+               867 non-null    int64
 38  Rates.Marijuana.Used Past Month.12-17              867 non-null    float64
 39  Rates.Marijuana.Used Past Month.18-25              867 non-null    float64
 40  Rates.Marijuana.Used Past Month.26+                867 non-null    float64
 41  Totals.Marijuana.Used Past Year.12-17              857 non-null    float64
 42  Totals.Marijuana.Used Past Year.18-25              867 non-null    int64
 43  Totals.Marijuana.Used Past Year.26+                867 non-null    int64
 44  Rates.Marijuana.Used Past Year.12-17               867 non-null    float64
 45  Rates.Marijuana.Used Past Year.18-25               867 non-null    float64
 46  Rates.Marijuana.Used Past Year.26+                 867 non-null    float64
 47  Totals.Tobacco.Use Past Month.12-17                867 non-null    int64
 48  Totals.Tobacco.Use Past Month.18-25                867 non-null    int64
 49  Totals.Tobacco.Use Past Month.26+                  867 non-null    int64
 50  Rates.Tobacco.Use Past Month.12-17                 867 non-null    float64
 51  Rates.Tobacco.Use Past Month.18-25                 867 non-null    float64
 52  Rates.Tobacco.Use Past Month.26+                   867 non-null    float64
dtypes: float64(28), int64(24), object(1)
memory usage: 359.1+ KB

In [10]:
# create missing values in heart disease dataset

heart["blood_pressure"] = np.where(np.random.rand(len(heart)) < 0.01, np.nan, heart['blood_pressure'])
heart["cholesterol"] = np.where(np.random.rand(len(heart)) < 0.01, np.nan, heart['cholesterol'])
heart["glucose_level"] = np.where(np.random.rand(len(heart)) < 0.01, np.nan, heart['glucose_level'])
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   full_name       10000 non-null  object
 1   age             10000 non-null  int64
 2   country         10000 non-null  object
 3   state           10000 non-null  object
 4   blood_pressure  9897 non-null   float64
 5   cholesterol     9912 non-null   float64
 6   bmi             10000 non-null  float64
 7   glucose_level   9911 non-null   float64
 8   gender          10000 non-null  object
 9   first_name      10000 non-null  object
 10  last_name       10000 non-null  object
 11  hospital        10000 non-null  object
 12  treatment       10000 non-null  object
 13  treatment_date  10000 non-null  object
 14  heart_disease   10000 non-null  int64
dtypes: float64(4), int64(2), object(9)
memory usage: 1.1+ MB

In [11]:
heart.duplicated().sum()

0

In [12]:
drugs.duplicated().sum()

0

In [14]:
drugs.drop(columns = ["Rates.Alcohol.Use Disorder Past Year.12-17", "Rates.Alcohol.Use Disorder Past Year.18-25", "Rates.Alcohol.Use Disorder Past Year.26+"], inplace = True)

drugs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 867 entries, 0 to 866
Data columns (total 50 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   State                                              867 non-null    object
 1   Year                                               867 non-null    int64
 2   Population.12-17                                   867 non-null    int64
 3   Population.18-25                                   867 non-null    int64
 4   Population.26+                                     867 non-null    int64
 5   Totals.Alcohol.Use Disorder Past Year.12-17        859 non-null    float64
 6   Totals.Alcohol.Use Disorder Past Year.18-25        867 non-null    int64
 7   Totals.Alcohol.Use Disorder Past Year.26+          867 non-null    int64
 8   Totals.Alcohol.Use Past Month.12-17                867 non-null    int64
 9   Totals.Alcohol.Use Past Month.18-25                867 non-null    int64
 10  Totals.Alcohol.Use Past Month.26+                  867 non-null    int64
 11  Rates.Alcohol.Use Past Month.12-17                 867 non-null    float64
 12  Rates.Alcohol.Use Past Month.18-25                 867 non-null    float64
 13  Rates.Alcohol.Use Past Month.26+                   867 non-null    float64
 14  Totals.Tobacco.Cigarette Past Month.12-17          867 non-null    int64
 15  Totals.Tobacco.Cigarette Past Month.18-25          863 non-null    float64
 16  Totals.Tobacco.Cigarette Past Month.26+            867 non-null    int64
 17  Rates.Tobacco.Cigarette Past Month.12-17           867 non-null    float64
 18  Rates.Tobacco.Cigarette Past Month.18-25           867 non-null    float64
 19  Rates.Tobacco.Cigarette Past Month.26+             867 non-null    float64
 20  Totals.Illicit Drugs.Cocaine Used Past Year.12-17  867 non-null    int64
 21  Totals.Illicit Drugs.Cocaine Used Past Year.18-25  867 non-null    int64
 22  Totals.Illicit Drugs.Cocaine Used Past Year.26+    857 non-null    float64
 23  Rates.Illicit Drugs.Cocaine Used Past Year.12-17   867 non-null    float64
 24  Rates.Illicit Drugs.Cocaine Used Past Year.18-25   867 non-null    float64
 25  Rates.Illicit Drugs.Cocaine Used Past Year.26+     867 non-null    float64
 26  Totals.Marijuana.New Users.12-17                   867 non-null    int64
 27  Totals.Marijuana.New Users.18-25                   867 non-null    int64
 28  Totals.Marijuana.New Users.26+                     867 non-null    int64
 29  Rates.Marijuana.New Users.12-17                    867 non-null    float64
 30  Rates.Marijuana.New Users.18-25                    867 non-null    float64
 31  Rates.Marijuana.New Users.26+                      867 non-null    float64
 32  Totals.Marijuana.Used Past Month.12-17             867 non-null    int64
 33  Totals.Marijuana.Used Past Month.18-25             867 non-null    int64
 34  Totals.Marijuana.Used Past Month.26+               867 non-null    int64
 35  Rates.Marijuana.Used Past Month.12-17              867 non-null    float64
 36  Rates.Marijuana.Used Past Month.18-25              867 non-null    float64
 37  Rates.Marijuana.Used Past Month.26+                867 non-null    float64
 38  Totals.Marijuana.Used Past Year.12-17              857 non-null    float64
 39  Totals.Marijuana.Used Past Year.18-25              867 non-null    int64
 40  Totals.Marijuana.Used Past Year.26+                867 non-null    int64
 41  Rates.Marijuana.Used Past Year.12-17               867 non-null    float64
 42  Rates.Marijuana.Used Past Year.18-25               867 non-null    float64
 43  Rates.Marijuana.Used Past Year.26+                 867 non-null    float64
 44  Totals.Tobacco.Use Past Month.12-17                867 non-null    int64
 45  Totals.Tobacco.Use Past Month.18-25                867 non-null    int64
 46  Totals.Tobacco.Use Past Month.26+                  867 non-null    int64
 47  Rates.Tobacco.Use Past Month.12-17                 867 non-null    float64
 48  Rates.Tobacco.Use Past Month.18-25                 867 non-null    float64
 49  Rates.Tobacco.Use Past Month.26+                   867 non-null    float64
dtypes: float64(25), int64(24), object(1)
memory usage: 338.8+ KB